@import '~bootstrap/scss/bootstrap';



a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

header {
    z-index: 99999;
}

main {
    min-height: 80vh;
    padding: 5rem 0;

    .contact-us {

        h1 {
            padding: 2rem 0;
        }
    }

    .movie {
        .movie-details {
            padding: 2rem;

            >* {
                padding: 1rem 0;
            }
        }

        .ms_star-yellow {
            color: gold;

        }

        .invalid-movie {
            h1 {
                padding: 2rem 0;
            }
        }

    }




}

footer {

    .social i,
    a {
        color: white;
        transition: color 0.2s ease;

        &:hover {
            color: #dedddd;
        }
    }



    .ms_links {
        ul {
            margin-inline: 1rem;

            li {
                margin-inline-start: 0.25rem;
            }
        }
    }

    .socials {
        .social {
            margin-inline-end: 1rem;
        }
    }
}