@import '~bootstrap/scss/bootstrap';



a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

header {
    z-index: 99999;
}

main {
    padding: 5rem 0;

    .contact-us {
        .container {
            height: 80vh;
        }

    }




}

footer {

    .social i,
    a {
        color: white;
        transition: color 0.2s ease;

        &:hover {
            color: #dedddd;
        }
    }



    .ms_links {
        ul {
            margin-inline: 1rem;

            li {
                margin-inline-start: 0.25rem;
            }
        }
    }

    .socials {
        .social {
            margin-inline-end: 1rem;
        }
    }
}